.calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.left-content {
  flex: 1;
  text-align: left;
}

.right-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.calculator-header {
  font-size: 26px;
  font-weight: bold;
  margin: 12px 5px;
  text-align: left;
}

.wrapper {
  width: 400px;
  background-color: #f0f0f0;
  margin-top: 70px;
  border-radius: 5px;
  box-shadow: 18px 17px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

.button {
  width: 100%;
  padding: 17px 10px;
  font-size: 19px;
  background-color: lightgray;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: orangered;
}

.screen {
  padding: 15px 10px;
  font-size: 24px;
  text-align: right;
  background-color: darkgray;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.operator {
  background-color: #f2a900;
  color: #fff;
}

.zero {
  grid-column: span 2;
}

.operator-bg {
  background-color: orange;
}

@media screen and (max-width: 768px) {
  .calculator {
    display: flex;
    flex-direction: column;
  }
}
